nav{
    background-color: #1B6DB6;
    padding: 10px;
}
h1 {
    color: #ffffff;
    display: block;
    padding: 20px;
    background-color: #B9650A;
    text-align: center;
}
h2 {
    color: #ffffff;
    display: block;
    padding: 20px;
    background-color: #B9650A;
    text-align: center;
}
main img {
    width: 150px;
    height: auto;
    border: 10px #1B6DB6;
    padding: 2px;
    box-shadow: 0 0 15px #B9650A;
}
p {padding: 0;}

footer nav a img{
    text-decoration: none;
}

a {
    text-decoration: none;
}